include:
  - project: ccx/ccx-gitlab-includes
    ref: master
    file: /ccx-lib.yml

stages:
  - lint
  - test
  - docs

golint-abcgo:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/projectquay/golang:1.23
  script:
    - make abcgo

shellcheck:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/ccxdev/ccx-builder-go
  script:
    - make shellcheck

golangci-lint:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  variables:
    GOFLAGS: -buildvcs=false
    # variables for the runner
    KUBERNETES_CPU_REQUEST: "1"
    KUBERNETES_CPU_LIMIT: "2"
    KUBERNETES_MEMORY_REQUEST: "1Gi"
    KUBERNETES_MEMORY_LIMIT: "2Gi"

  image: registry.access.redhat.com/ubi9/go-toolset:latest
  script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b /opt/app-root/bin latest
    - golangci-lint run --timeout=5m --concurrency=2 -v

gotest:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  parallel:
    matrix:
      - GOLANG_VERSION: ["1.23", "1.24"]

  variables:
    GIT_DEPTH: 0
    # variables for the runner
    KUBERNETES_CPU_REQUEST: "500m"
    KUBERNETES_CPU_LIMIT: "1"
    KUBERNETES_MEMORY_REQUEST: "750Mi"
    KUBERNETES_MEMORY_LIMIT: "2Gi"

  image: quay.io/projectquay/golang:${GOLANG_VERSION}
  script:
    - git config --global --add safe.directory `pwd`
    - make test
    - ./check_coverage.sh

  artifacts:
    paths:
      - content-service

openapi-check:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/sourcemation/openapi-generator-cli
  script:
    - openapi-generator-cli validate -i openapi.json

integration-tests:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  parallel:
    matrix:
      - GOLANG_VERSION: ["1.23", "1.24"]

  image: quay.io/projectquay/golang:${GOLANG_VERSION}
  script:
    - git config --global --add safe.directory `pwd`
    - ./build.sh --test-rules-only
    - ./test.sh
    
  variables:
    # variables for the runner
    KUBERNETES_CPU_REQUEST: "500m"
    KUBERNETES_CPU_LIMIT: "1"
    KUBERNETES_MEMORY_REQUEST: "750Mi"
    KUBERNETES_MEMORY_LIMIT: "2Gi"

bdd-tests:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/redhat-services-prod/obsint-processing-tenant/insights-behavioral-spec/insights-behavioral-spec:latest
  variables:
    PATH_TO_LOCAL_CONTENT_SERVICE: "$CI_PROJECT_DIR"
    BDD_PATH: /insights-behavioral-spec
    VIRTUAL_ENV: /insights-behavioral-spec-venv/
    # variables for the runner
    KUBERNETES_CPU_REQUEST: "1"
    KUBERNETES_CPU_LIMIT: "2"
    KUBERNETES_MEMORY_REQUEST: "2Gi"
    KUBERNETES_MEMORY_LIMIT: "4Gi"

  script:
    - cd $BDD_PATH
    - make insights-content-service-tests

  needs:
    - job: gotest
      artifacts: true
    - job: get-rules
      artifacts: true


get-rules:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/ccxdev/ccx-builder-go:latest
  script:
    - ./update_rules_content.sh

  artifacts:
    paths:
      - rules-content

pages:
  stage: docs
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: registry.access.redhat.com/ubi9/ruby-33:latest
  script:
    - cd "$CI_PROJECT_DIR"/docs
    - gem install bundler
    - bundle config set path ~/.gem
    - bundle install --no-cache
    - bundle exec jekyll build -d "$CI_PROJECT_DIR"/public

  artifacts:
    paths:
      - public
