include:
  - project: ccx/ccx-gitlab-includes
    ref: master
    file: /ccx-lib.yml

stages:
  - lint
  - test
  # - covcheck
  # - deploy

golint:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  
  parallel:
    matrix:
      - GOLANG_VERSION: ["1.22", "1.23"]
        LINT_TARGET: ["fmt", "lint", "vet", "gocyclo", "goconst", "gosec", "abcgo"]

  image: quay.io/projectquay/golang:${GOLANG_VERSION}
  script:
    - make ${LINT_TARGET}

shellcheck:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/ccxdev/ccx-builder-go
  script:
    - make shellcheck

golangci-lint:
  stage: lint
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  
  parallel:
    matrix:
      - GOLANG_VERSION: ["1.22", "1.23"]

  variables:
    GOFLAGS: -buildvcs=false

  image: quay.io/projectquay/golang:${GOLANG_VERSION}
  script:
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b /usr/local/bin latest
    - golangci-lint run --timeout=3m

gotest:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  parallel:
    matrix:
      - GOLANG_VERSION: ["1.22", "1.23"]
  
  image: quay.io/projectquay/golang:${GOLANG_VERSION}
  script:
    - git config --global --add safe.directory `pwd`
    - make test
    - ./check_coverage.sh

openapi-check:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

  image: quay.io/sourcemation/openapi-generator-cli
  script:
    - openapi-generator-cli validate -i openapi.json
